.card {
  display: inline-block;
  border: 2px solid rgb(219, 199, 245);
  box-shadow: 0 2px 12px #ccc;
  width: 195px;
  padding: 0px 0px 10px;
  margin: 20px;
  background-color: rgb(200, 219, 214);
  border-radius: 5px;
}
.card:hover {
  transform: scale(1.01);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12),
    0 8px 32px -8px hsla(0, 0%, 0%, 0.14),
    0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}

.card_description {
  margin: 3%;
}
.card_title {
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
}
.button {
  margin: 24%;
  margin-top: 5px;
  margin-bottom: -2px;
  color: rgb(250, 250, 253);
  background-color: rgb(92, 93, 180);
  padding: 3px;
  border-radius: 4px;
}
.button:hover {
  transform: scale(1.01);
}

@media (max-width: 720px) {
  .card {
    margin-left: 80px;
  }
}
@media (max-width: 620px) {
  .card {
    margin-left: 80px;
  }
}
@media (max-width: 520px) {
  .card {
    margin-left: 60px;
  }
}
@media (max-width: 420px) {
  .card {
    margin-left: 50px;
  }
}
@media (max-width: 320px) {
  .card {
    margin-left: 50px;
  }
}
@media (max-width: 280px) {
  .card {
    margin-left: 20px;
  }
}
