.app-project {
  text-align: center;
  background-color: rgb(245, 239, 239);
}
.app-project h3 {
  text-decoration: underline;
  padding: 40px;
  color: rgb(129, 69, 141);
}
.app-p {
  margin: 25px;
}
.footer {
  background-color: rgb(34, 34, 33);
  height: 65px;
  padding: 15px;
}
.footer h6 {
  text-align: center;
  color: aliceblue;
}
.footer span {
  color: red;
}
